# Replace with your actual Azure subscription ID
subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
location        = "spaincentral"
project         = "devops_iac_caso_practico_2"
name_prefix     = "jclmon-iac"
environment     = "casopractico2"
admin_username  = "azureuser"
vm_size         = "Standard_B2ats_v2"
aks_vm_size     = "Standard_B4als_v2"
vm_image_publisher = "Canonical"
vm_image_offer     = "0001-com-ubuntu-server-jammy"
vm_image_sku       = "22_04-lts"
vm_image_version   = "latest"

# Example only. Use your real public key from ~/.ssh/id_rsa.pub or ~/.ssh/azure_vm_key.pub
ssh_public_key  = "ssh-rsa AAAAC3NzaC1lZDI1NTE5AAAA... your-key"

# Strongly recommended: restrict to your own public IP CIDR, e.g. 203.0.113.10/32
allowed_ssh_cidr = "xx.xx.xxx.xx/32"

# Path to your local SSH private key for Ansible
ssh_private_key_path = "~/.ssh/id_rsa"